.confirmationModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .backBtnCotainer {
        position: absolute;
        top: 10px;
        right: 10px;
        button {
            color: $light-main-color;
            border: none;
            background-color: #fff;
            font-size: 2rem;
        }
    }
    .userInfoContainer {
        text-align: center;
        font-size: 12rem;
        img {
            width: 80%;
            border-radius: 50%;
            object-fit: contain;
            object-position: center;
        }
        .info {
            margin: 1rem 0;
            text-align: center;
            p {
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
    }
}